<!-- Blog Post -->
<div class="card mb-4">
  <img class="card-img-top" src="../../images/750x300.jpg" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Bienvenue sur le site Ethical Hacking Resources</h2>
    <p class="card-text">Nous allons voir comment commencer dans le monde des pirates informatiques</p>
    <a href="/category/tutorial/Bienvenue sur le site Ethical Hacking Resources" class="btn btn-primary">Lire la suite &rarr;</a>
  </div>
</div>
